html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

*{
    font-family: 'josefin_sansregular';
    /*font-family: 'poiret_oneregular';*/
    /*font-family: 'open_sanscondensed_light';*/
}

#bg_img {
    z-index: -999;
    width: 100%;
    height: 100%;
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.95;
}

.content_wrapper {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
}

#txt_h {
    font-size: 2.5em;
    font-weight: bolder;
    color: #dddddd;
}

#txt {
    font-size: 1em;
    font-weight: bolder;
    color: #dddddd;
}

.dl1 {
    float: left;
    text-align: center;
    cursor: pointer;
    color: #333333;
    background-color:rgba(50,50,50,0.9);
    overflow: hidden;
    top: 2%;
    left: 2%;
    width: 45%;
    max-height: 74%;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-left: 20px;
    border-style: solid;
    border-width: 5px;
    border-color: rgba(155,155,155,0.6);
    border-radius: 20px;
}

.dl1 a {
    position: relative;
    width: 100%;
    height: 100%;
}

.dl2 {
    float: right;
    text-align: center;
    cursor: pointer;
    background-color:rgba(50,50,50,0.9);
    top: 2%;
    right: 2%;
    width: 45%;
    max-height: 74%;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-right: 20px;
    border-style: solid;
    border-width: 5px;
    border-color: rgba(155,155,155,0.6);
    border-radius: 20px;
}

.dl2 a {
    position: relative;
    width: 100%;
    height: 100%;
}

.dl3 {
    float: left;
    text-align: center;
    cursor: pointer;
    color: #333333;
    background-color:rgba(50,50,50,0.9);
    overflow: hidden;
    top: 2%;
    left: 2%;
    width: 45%;
    max-height: 74%;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-left: 20px;
    border-style: solid;
    border-width: 5px;
    border-color: rgba(155,155,155,0.6);
    border-radius: 20px;
}

.dl3 a {
    position: relative;
    width: 100%;
    height: 100%;
}

.dl4 {
    float: right;
    text-align: center;
    cursor: pointer;
    background-color:rgba(50,50,50,0.9);
    top: 2%;
    right: 2%;
    width: 45%;
    max-height: 74%;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-right: 20px;
    border-style: solid;
    border-width: 5px;
    border-color: rgba(155,155,155,0.6);
    border-radius: 20px;
}

.dl4 a {
    position: relative;
    width: 100%;
    height: 100%;
}

.dl5 {
    float: left;
    text-align: center;
    cursor: pointer;
    color: #333333;
    background-color:rgba(50,50,50,0.9);
    overflow: hidden;
    top: 2%;
    left: 2%;
    width: 45%;
    max-height: 74%;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-left: 20px;
    border-style: solid;
    border-width: 5px;
    border-color: rgba(155,155,155,0.6);
    border-radius: 20px;
}

.dl5 a {
    position: relative;
    width: 100%;
    height: 100%;
}

.dl6 {
    float: right;
    text-align: center;
    cursor: pointer;
    background-color:rgba(50,50,50,0.9);
    top: 2%;
    right: 2%;
    width: 45%;
    max-height: 74%;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-right: 20px;
    border-style: solid;
    border-width: 5px;
    border-color: rgba(155,155,155,0.6);
    border-radius: 20px;
}

.dl6 a {
    position: relative;
    width: 100%;
    height: 100%;
}



.headline {
    color: #dddddd;
    background-color:rgba(50,50,50,0.9);
    top: 4%;
    left: 2%;
    right: 2%;
    max-height: 20%;
    overflow: hidden;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: bolder;
    font-size: 4em;
    border-style: solid;
    border-width: 5px;
    border-color: rgba(155,155,155,0.6);
    border-radius: 20px;
}​
